<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat explicabo vel unde, maxime eligendi illum dignissimos ullam facere deserunt culpa, aliquam quia veritatis nobis vero commodi aperiam, velit aspernatur ratione?
    </p>

    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" name="send email">
    </form>
</body>

</html>